{% extends 'base.html' %}
{% block container %}
<div class="container-fluid">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rank statistics</h3>
      </div>
      <table class="table table-striped">
        <tr>
          <th>
            Rank
          </th>
          <th>
            Count
          </th>
        </tr>
          {% for rank, count in ranks.items() %}
            <tr>
              <td>
                {{ rank }}
              </td>
              <td>
                {{ count }}
              </td>
            </tr>
          {% endfor %}
        </table>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dependency statistics</h3>
        Top 100 referenced patterns.
      </div>
      <table class="table table-striped">
        <tr>
          <th>
            Pattern
          </th>
          <th>
            Count
          </th>
        </tr>
          {% for pattern, count in dependencies | dictsort(by="value")%}
            <tr>
              <td>
                <a href="/perms/av/{{ pattern | av_list_to_url }}">{{ pattern | av_list_to_str }}</a>
              </td>
              <td>
                {# Yes, had to do -- to get a descending sort from jinja.. #}
                {{ -count }}
              </td>
            </tr>
          {% endfor %}
        </table>
    </div>
  </div>


</div>
{% endblock %}
