{% extends 'base.html' %}
{% block container %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Avoiding {{ val['avoid'] }}</h3>

  </div>
  <div class="panel-body">
    {% if 'tile' in val %}
    <h4>Tiling</h4>
    <div class="flex-row">
      <table class="tiling">
        <tr>
          <td>
            $\mathcal{A}$
          </td>
        </tr>
      </table>
      $=$
      {% for idx, tiling in enumerate(val['tile']) %}
      {% if idx != 0 %}
      $\bigsqcup$
      {% endif %}
      <table class="tiling">
        {% for i in range(maxi[idx]) %}
        <tr>
          {% for j in range(maxj[idx]) %}
          <td>
            {% if (i, j) in tiling %}
             {% if 'revdepends' in val and tiling.get((i, j)) in val['revdepends'] %}
               {{ "$\mathcal{"+val['revdepends'][tiling.get((i, j))].upper()+"}$" }}
             {% else %}
              {{ tiling.get((i, j)) }}
             {% endif %}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>
    {% endif %}

    {% if 'depends' in val %}
    <h4>Legend</h4>
    {% for k, v in val['depends'] | dictsort %}
    <p>
        <a href="/perms/av/{{ v | av_list_to_url }}">{{"$\mathcal{"+k.upper()+"}$ = " + (v | av_list_to_str) }}</a>
    </p>
    {% endfor %}
    {% endif %}
    {% if 'examples' in val %}
    <h4>Permutation examples</h4>
    {% for k, v in val['examples'] | dictsort %}
    <p>
      length {{ k }}:
      {{ v[0] }}{% for perm in v[1:] %}, {{ perm }}{% endfor %}
    </p>
    {% endfor %}
    {% endif %}
    {% if 'recurrence' in val %}
    <h4>Recurrence relation</h4>
    {% for k, v in val['recurrence'] | dictsort %}
    <p>
      $a_{{"{"}}{{ k }}{{"}"}}= {{ v }}$
    </p>
    {% endfor %}
    {% endif %}
    {% if 'genf' in val %}
    <h4>Generating function</h4>
    ${{ val['genf'] }}$
    {% endif %}
    {% if 'solved_genf' in val %}
    <h4>Solved generating function</h4>
    ${{ val['solved_genf'] }}$
    {% endif %}
    {% if 'coeffs' in val %}
    <h4>Coefficients</h4>
    {{ int(val['coeffs'][0]) }}{% for coeff in val['coeffs'][1:] %}, {{ int(coeff) }}{% endfor %}...
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
